@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterX {
    display: flex;
    justify-content: center;
}
@mixin flexCenterY {
    display: flex;
    align-items: center;
}
@mixin fill {
    width: 100%;
    height: 100%;
}
@mixin fillX {
    width: 100%;
}
@mixin fillY {
    height: 100%;
}
@mixin Available {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
@mixin AvailableX {
    width: -webkit-fill-available;
}
@mixin AvailableY {
    width: -webkit-fill-available;
}