@import '../../assets/style/index.scss';

main.Shop {
    @include flexCenter();
    @include Available();

    position: relative;
    margin: 6% 9%;
    background-color: #efefef;
    box-shadow: 0px 15px 20px 0px #3333;
  }
  
  nav {
    @include flexCenter();
    justify-content: space-between;
  
    position: absolute;
    top: 0;
    width: 100%;
    > * {
      padding: 0 2rem;
    }
    div.bars {
      @include flexCenter();
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
  
      width: 20px;
      height: 20px;
      
      div {
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background-color: $grey;
      }
      div:nth-of-type(2) {
        width: 70%;
      }
    }
  
    ul.links {
      @include flexCenter();
      justify-content: space-around;
      list-style: none;
  
      li {
        font-weight: 600;
        padding: 0 2rem;
      }
      a{
        color: $grey;
        text-decoration: none;
      }
      .active {
        border-bottom: 2px solid $orange;
      }
    }
  }
  
  div.content {
    @include flexCenter();
    justify-content: space-between;
  
    width: 90%;
    height: 75%;
    position: absolute;
    bottom: 0;
    margin-bottom: 2.5rem;
  
    .line {
      margin: 3rem 0 0 0;
      height: 2px;
      width: 100px;
      background-color: $orange;
      transform: translateX(5px);
    }
    .img {
      position: absolute;
      right: 0;
      height: 80%;
      max-width: 500px;
  
      div.button{
        position: absolute;
        font-size: 140%;
        font-weight: 500;
        left: -119.5px;    
        bottom: 2rem;
        z-index: 1;
        background-color: $white;
        display: flex;
  
        > * {
          padding: .5rem 1rem;
          color: $darkgrey;
        }
  
        div:first-of-type {
          box-shadow: 0px 6px 15px #3332;
        }
        div:last-of-type {
          background-color: $orange;
          height: 100%;
        }
      }
      img {
        width: 100%;
        height: 100%;
        contain: content;
      }
    }
    > div:first-of-type {
      @include flexCenter();
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  
      height: 100%;
      width: 70%;
      background-color: white;
      color: $grey;
      
      > * {
        margin-left: 3rem;
        z-index: 1;
      }
      .title {
        font-size: 6rem;
        line-height: 5rem;
        font-weight: 700;
        padding: 0 0 2rem;
        color: #333333;
      }
    }
  }
  div.bottomDiv{
    @include flexCenter();
    justify-content: space-between;
  
    width: 90%;
    position: absolute;
    bottom: 0;
    padding: 0.6rem 0;
    color: $grey;
  }